.title-col {
  height: 25em;
  position: relative;
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.title-col {
  height: 25em;
}
.profile-col {
  align-self: center;
}

.profile-image {
  width: 20em;
}

#title-card {
  background-color: transparent;
  border: none;
  top: 30%;
  text-align: right;
  color: white;
  margin-right: 5em;
  margin-top: 2em;
}

#title-header {
  font-size: 3em;
  color: white;
}

.info-row {
  margin: 2em !important;
}

.card-logo {
  width: 10em;
  margin: .75em;
}

.experience-row {
  text-align: right;
}